@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;

}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-green: #4CAF50;
    --color-red: #D7263D;
    --color-gray: #5E6472;
    --color-dark: #222831;
    --color-light: #F4F4F4;

    --transition-duration: 200ms;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--color-light);
}

.header-title {
    text-align: center;
    padding: 20px;
    color: var(--color-dark);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;

}

.timer-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--color-red);
    color: white;

}

.sessions {
    display: flex;
    column-gap: 20px;

}

.session {
    background-color: var(--color-dark);
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0.5;
}

[data-current-session] {
    opacity: 1;
}

.timer {
    font-size: 82px;
    padding-block: 40px;

}

.timer-control {
    display: flex;
    column-gap: 15px;
}

.control-button {
    position: relative;
    background-color: var(--color-light);
    color: var(--color-red);
    border: none;
    border-radius: 10px;
    font-size: 24px;
    padding-inline: 15px;
    box-shadow: 0 8px 0 #b71c1c;
}

.control-button:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #b71c1c;
}

.control-button:hover {
    cursor: pointer;
}

.time-options {
    display: flex;
    column-gap: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--color-red);
    color: white;

}

.time-input {
    border-radius: 5px;
    border: none;
    vertical-align: middle;
}

.submit-options {
    border-radius: 5px;
    background-color: #32CD32;
    border: none;
    color: white;
    font-size: 20px;
    box-shadow: 0 6px 0 #228B22;
    transition: all 0.1s ease-in-out;
}

.submit-options:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #228B22;
}

.submit-options:hover {
    cursor: pointer;
}


